.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  border: 1px lightblue solid;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  display: inline-block;
 
}

.buttonElementsContainer {
  display: flex;
  flex-direction: row;
}

.iconLeft, .iconRight {
  width: 20px;
}

.iconRight {
  padding-left: 10px;
  
}

.iconLeft {
  padding-right: 10px;
}

.fa-sync-alt {
  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}


@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
